/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap input {
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap button {
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    slider-content css
====================================*/
.slider-content .home-slider .slider-image h2 {
    font-weight: 800;
}
.slider-content .home-slider .slider-image h2,
.slider-content .home-slider .slider-image h2 span {
    position: relative;
    z-index: 1;
}
.slider-content .home-slider .slider-image h2::after,
.slider-content .home-slider .slider-image h2 span::after {
    content: attr(data-text-shadow);
    position: absolute;
    inset: 0;
    z-index: -1;
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-background-clip: text;
    text-shadow: 1px 0 0 var(--body-font-color), 0 1px 0 var(--body-font-color), -1px 0 0 var(--body-font-color), 0 -1px 0 var(--body-font-color);
    margin-top: 5px;
    margin-left: 5px;
}
@media (min-width: 1600px) {
    .slider-content .home-slider .slider-image .slider-text {
        margin-bottom: 21px;
    }
    .slider-content .home-slider .slider-image h2 {
        font-size: 96px;
    }
    .slider-content .home-slider .slider-image a {
        margin-top: 34px;
    }
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide .slider-image .slider-text,
.slider-content .home-slider.swiper .swiper-slide .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide .slider-image a {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-text,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-text {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .swiper-buttons .swiper-buttons-wrap button {
    color: var(--secondary-font-color);
    background-color: var(--extra-font-color);
    border: 1px solid rgba(var(--border-color),var(--border-opacity));
    border-radius: var(--border-radius);
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button:hover {
    color: var(--primary-font-color);
    background-color: var(--tertiary-font-color);
    border-color: var(--tertiary-font-color);
}
@media (min-width: 1400px) {
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
.slider-content .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--extra-font-color);
    margin: 5px 0px 0px 5px;
    opacity: 1;
    border: 1px solid var(--extra-font-color);
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--tertiary-font-color);
    border-color: var(--tertiary-font-color);
}
/************************************* home-slider css end *************************************/

/************************************* category-area css start *************************************/
/*====================================
    category-area css
====================================*/
.category-area .row {
    margin-top: -15px;
}
.category-area .row>* {
    position: relative;
    margin-top: 15px;
}
.category-area .row>*::after {
    content: "/";
    color: var(--heading-font-color);
    font-size: 18px;
    position: absolute;
    right: -3px;
    bottom: 50%;
    transform: translateY(50%);
}
.category-area .row>*:nth-child(2n)::after,
.category-area .row>*:last-child::after {
    display: none;
}
@media (min-width: 576px) {
    .category-area .row>*::after {
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    .category-area .row>*::after {
        right: -5px;
    }
    .category-area .row>*:nth-child(2n)::after {
        display: block;
    }
    .category-area .row>*:nth-child(3n)::after,
    .category-area .row>*:last-child::after {
        display: none;
    }
}
@media (min-width: 1200px) {
    .category-area .row>*::after {
        font-size: 24px;
        opacity: 0.3;
    }
    .category-area .row>*:nth-child(3n)::after {
        display: block;
    }
    .category-area .row>*:nth-child(4n)::after,
    .category-area .row>*:last-child::after {
        display: none;
    }
}
@media (min-width: 1400px) {
    .category-area .row {
        margin-left: -25px;
        margin-right: -25px;
    }
    .category-area .row>* {
        padding-left: 25px;
        padding-right: 25px;
    }
    .category-area .row>*::after {
        font-size: 32px;
        right: -6.5px;
    }
}

/*====================================
    category-block css
====================================*/
.category-area .category-block a img {
    -webkit-filter: opacity(0.7);
    filter: opacity(0.7);
}
@media (min-width: 1200px) {
    .category-area .category-block a h6 {
        opacity: 0.3;
    }
    .category-area .category-block a img {
        opacity: 0;
    }
    .category-area .category-block:hover a h6,
    .category-area .category-block:hover a img {
        opacity: 1;
    }
    .category-area .category-block a h6,
    .category-area .category-block a img {
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }
}
/************************************* category-area css end *************************************/

/************************************* banner-area css start *************************************/
/*====================================
    banner-area css
====================================*/
.banner-area .banner-block .banner-content .banner-content-info h2 {
    font-weight: 800;
}
.banner-area .banner-block .banner-content .banner-content-info h2,
.banner-area .banner-block .banner-content .banner-content-info h2 span {
    position: relative;
    z-index: 1;
}
.banner-area .banner-block .banner-content .banner-content-info h2::after,
.banner-area .banner-block .banner-content .banner-content-info h2 span::after {
    content: attr(data-text-shadow);
    position: absolute;
    inset: 0;
    z-index: -1;
    -webkit-text-fill-color: var(--primary-font-color);
    -webkit-background-clip: text;
    text-shadow: 1px 0 0 var(--body-font-color), 0 1px 0 var(--body-font-color), -1px 0 0 var(--body-font-color), 0 -1px 0 var(--body-font-color);
    margin-top: 5px;
    margin-left: 5px;
}
@media (min-width: 768px) {
    .banner-area .banner-block img {
        object-fit: cover;
        object-position: center;
    }
    .banner-area .banner-block .banner-content .banner-content-info {
        border-radius: var(--border-radius);
    }
}
@media (min-width: 1600px) {
    .banner-area .banner-block .banner-content .banner-content-info .banner-content-text {
        margin-bottom: 18px;
    }
    .banner-area .banner-block .banner-content .banner-content-info h2 {
        font-size: 48px;
    }
    .banner-area .banner-block .banner-content .banner-content-info a {
        margin-top: 23px;
    }
}
/************************************* banner-area css end *************************************/

/************************************* offer-text css start *************************************/
/*====================================
    offer-text css
====================================*/
.offer-text .offer-text-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: repeating-linear-gradient(to left, rgba(var(--border-color), var(--border-opacity)), rgba(var(--border-color), var(--border-opacity)) 8px, transparent 8px, transparent 16px) 0px 1px / 100% 4px no-repeat, radial-gradient(circle at center, rgba(var(--border-color), var(--border-opacity)) 4px, transparent 2px ) 4px 0 / 16px 4px repeat-x;
}
.offer-text .offer-text-wrap p span {
    border-bottom: 2px solid var(--tertiary-font-color);
}
.offer-text .offer-text-wrap .offer-text-gif {
    bottom: -12px;
    animation: scissors-bottom 20s linear infinite;
}

/* scissors-bottom keyframes css */
@-webkit-keyframes scissors-bottom {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
@keyframes scissors-bottom {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
/************************************* offer-text css end *************************************/

/************************************* banner-text-testimonial css start *************************************/
/*====================================
    banner-text css
====================================*/
.banner-text-testimonial .banner-text .banner-text-row {
    -webkit-animation: slide-left 20s linear infinite;
    animation: slide-left 20s linear infinite;
}
.banner-text-testimonial .banner-text:hover .banner-text-row,
.banner-text-testimonial .banner-text:focus .banner-text-row {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}
@media (min-width: 992px) {
    .banner-text-testimonial img {
        object-fit: cover;
        object-position: center;
    }
    .banner-text-testimonial .banner-text {
        writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }
    .banner-text-testimonial .banner-text span {
        transform: rotate(-180deg);
    }
    .banner-text-testimonial .banner-text .banner-text-row {
        -webkit-animation: slide-bottom 20s linear infinite;
        animation: slide-bottom 20s linear infinite;
    }
}

/*====================================
    testimonial css
====================================*/
@media (min-width: 1500px) {
    .banner-text-testimonial .testimonial {
        width: 66.66%;
    }
}
@media (min-width: 1700px) {
    .banner-text-testimonial .testimonial {
        width: 58.33%;
    }
}

/* testimonial slider-swiper css */
.testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
/************************************* banner-text-testimonial css end *************************************/