<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Men's Hair - 100% Human Hair, Natural & Durable</title>

        <!-- favicon -->
        <link rel="shortcut icon" type="image/favicon" href="{{ url_for('static', filename='image/favicon.png') }}">

        <!-- plugin CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plugin.css') }}">

        <!-- theme CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
        <!-- style CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- collection CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/collection.css') }}">

    </head>
    <body>

        <!-- header start -->
        <!-- header end -->

        <!-- main start -->
        <main id="main">
            <section class="slider-content primary-bg position-relative">
                <div class="home-slider swiper" id="home-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slider-image p-md-relative d-md-flex align-items-md-center">
                                <div class="slide-img">
                                    <img src="{{ url_for('static', filename='image/slider-1.jpg') }}" class="w-100 img-fluid d-none d-md-block" alt="slider-1">
                                    <img src="{{ url_for('static', filename='image/slider-mobile1.jpg') }}" class="w-100 img-fluid d-md-none" alt="slider-mobile1">
                                </div>
                                <div class="container d-none d-md-block p-md-absolute start-0 end-0 z-1 slider-container">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-5">
                                            <div class="ptb-30 ptb-xl-50 plr-15 plr-xl-30 plr-xxl-50 primary-bg text-center border-radius">
                                                <div class="slider-text extra-color font-18 font-xl-20 meb-6 meb-sm-10 meb-xl-16 meb-xxl-18">Premium Human Hair for a Perfect!</div>
                                                <h2 class="extra-color font-32 font-sm-40 font-xl-64 font-xxl-80 text-uppercase lh-1 tertiary-color" data-text-shadow="INVISIBLE">INVISIBLE <span class="d-block" data-text-shadow="LOOK">LOOK</span> </h2>
                                                <!-- <a href="collection.html" class="btn-style primary-btn mst-15 mst-sm-19 mst-xl-25 mst-xxl-28">Shop now</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-md-none ptb-30 text-center border-radius">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-5">
                                                <div class="slider-text extra-color font-18 font-xl-20 meb-6 meb-sm-10 meb-xl-16 meb-xxl-18">Only discount <span class="tertiary-color">30% off</span> for hoodie!</div>
                                                <h2 class="extra-color font-32 font-sm-40 font-xl-64 font-xxl-80 text-uppercase lh-1" data-text-shadow="Summer">Summer <span class="d-block tertiary-color" data-text-shadow="clothes">clothes</span></h2>
                                                <!--<a href="collection.html" class="btn-style primary-btn mst-15 mst-sm-19 mst-xl-25 mst-xxl-28">Shop now</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-image p-md-relative d-md-flex align-items-md-center">
                                <div class="slide-img">
                                    <img src="{{ url_for('static', filename='image/slider-2.jpg') }}" class="w-100 img-fluid d-none d-md-block" alt="slider-2">
                                    <img src="{{ url_for('static', filename='image/slider-mobile2.jpg') }}" class="w-100 img-fluid d-md-none" alt="slider-mobile2">
                                </div>
                                <div class="container d-none d-md-block p-md-absolute start-0 end-0 z-1 slider-container">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-5">
                                            <div class="ptb-30 ptb-xl-50 plr-15 plr-xl-30 plr-xxl-50 primary-bg text-center border-radius">
                                                <div class="slider-text extra-color font-18 font-xl-20 meb-6 meb-sm-10 meb-xl-16 meb-xxl-18">End of season sale get <span class="tertiary-color">50% off</span></div>
                                                <h2 class="extra-color font-32 font-sm-40 font-xl-64 font-xxl-80 text-uppercase lh-1" data-text-shadow="Classic">Classic <span class="d-block tertiary-color" data-text-shadow="trendy">trendy</span></h2>
                                                <!--<a href="collection.html" class="btn-style primary-btn mst-15 mst-sm-19 mst-xl-25 mst-xxl-28">Shop now</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-md-none ptb-30 text-center border-radius">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-5">
                                                <div class="slider-text extra-color font-18 font-xl-20 meb-6 meb-sm-10 meb-xl-16 meb-xxl-18">End of season sale get <span class="tertiary-color">50% off</span></div>
                                                <h2 class="extra-color font-32 font-sm-40 font-xl-64 font-xxl-80 text-uppercase lh-1" data-text-shadow="Classic">Classic <span class="d-block tertiary-color" data-text-shadow="trendy">trendy</span></h2>
                                                <!-- <a href="collection.html" class="btn-style primary-btn mst-15 mst-sm-19 mst-xl-25 mst-xxl-28">Shop now</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-image p-md-relative d-md-flex align-items-md-center">
                                <div class="slide-img">
                                    <img src="{{ url_for('static', filename='image/slider-3.jpg') }}" class="w-100 img-fluid d-none d-md-block" alt="slider-3">
                                    <img src="{{ url_for('static', filename='image/slider-mobile3.jpg') }}" class="w-100 img-fluid d-md-none" alt="slider-mobile3">
                                </div>
                                <div class="container d-none d-md-block p-md-absolute start-0 end-0 z-1 slider-container">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-5">
                                            <div class="ptb-30 ptb-xl-50 plr-15 plr-xl-30 plr-xxl-50 primary-bg text-center border-radius">
                                                <div class="slider-text extra-color font-18 font-xl-20 meb-6 meb-sm-10 meb-xl-16 meb-xxl-18">Special offer sale up to <span class="tertiary-color">30% off</span></div>
                                                <h2 class="extra-color font-32 font-sm-40 font-xl-64 font-xxl-80 text-uppercase lh-1" data-text-shadow="Latest">Latest <span class="d-block tertiary-color" data-text-shadow="arrival">arrival</span></h2>
                                                <!-- <a href="collection.html" class="btn-style primary-btn mst-15 mst-sm-19 mst-xl-25 mst-xxl-28">Shop now</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-md-none ptb-30 text-center border-radius">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-5">
                                                <div class="slider-text extra-color font-18 font-xl-20 meb-6 meb-sm-10 meb-xl-16 meb-xxl-18">Special offer sale up to <span class="tertiary-color">30% off</span></div>
                                                <h2 class="extra-color font-32 font-sm-40 font-xl-64 font-xxl-80 text-uppercase lh-1" data-text-shadow="Latest">Latest <span class="d-block tertiary-color" data-text-shadow="arrival">arrival</span></h2>
                                                <!-- <a href="collection.html" class="btn-style primary-btn mst-15 mst-sm-19 mst-xl-25 mst-xxl-28">Shop now</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-buttons d-none">
                    <div class="swiper-buttons-wrap">
                        <button type="button" class="swiper-prev swiper-prev-homeslider icon-16 width-40 height-40 position-absolute top-50 translate-middle-y z-1 rounded-circle" aria-label="Arrow previous"><i class="ri-arrow-left-line d-block lh-1"></i></button>
                        <button type="button" class="swiper-next swiper-next-homeslider icon-16 width-40 height-40 position-absolute top-50 translate-middle-y z-1 rounded-circle" aria-label="Arrow next"><i class="ri-arrow-right-line d-block lh-1"></i></button>
                    </div>
                </div>
                <div class="swiper-dots d-none position-absolute bottom-0 start-50 translate-middle-x z-1 meb-15 meb-md-30">
                    <div class="swiper-pagination swiper-pagination-homeslider d-flex flex-wrap"></div>
                </div>
            </section>
        </main>
        <!-- main end -->

        <!-- footer start -->
        <footer id="footer"></footer>
        <!-- footer end -->

        <!-- plugin js -->
        <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
        <!-- theme js -->
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

    </body>
</html>
