/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap input {
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap button {
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    slider-image css
====================================*/
.slider-content .home-slider .slider-image img {
    -webkit-filter: brightness(0.85);
    filter: brightness(0.85);
}
@media (min-width: 992px) {
    .slider-content .home-slider .slider-image img {
        object-fit: cover;
        object-position: center;

    }
}

/*====================================
    slider-text-info css
====================================*/
@media (min-width: 1600px) {
    .slider-content .home-slider .slider-text-info .slider-sub-title {
        margin-bottom: 41px;
    }
    .slider-content .home-slider .slider-text-info h2 {
        font-size: 88px;
    }
    .slider-content .home-slider .slider-text-info a {
        margin-top: 34px;
    }
}
@media (min-width: 1800px) {
    .slider-content .home-slider .slider-text-info {
        width: 66.66%;
    }
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide .slider-text-info .slider-sub-title,
.slider-content .home-slider.swiper .swiper-slide .slider-text-info h2,
.slider-content .home-slider.swiper .swiper-slide .slider-text-info a {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info .slider-sub-title,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info a {
    opacity: 1;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info .slider-sub-title {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info h2 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-text-info a {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button {
    color: var(--body-font-color);
    background-color: var(--extra-font-color);
    border: 1px solid rgba(var(--border-color),var(--border-opacity));
    border-radius: 50%;
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button:hover {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
@media (min-width: 1400px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
.slider-content .home-slider.swiper .swiper-dots .swiper-dots-wrap .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -15px;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-dots-wrap .swiper-pagination span.swiper-pagination-bullet {
    color: var(--extra-font-color);
    width: unset;
    height: unset;
    background-color: transparent;
    margin: 5px 0px 0px 15px;
    text-transform: uppercase;
    font-weight: var(--heading-font-weight);
    opacity: 1;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-dots-wrap .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
@media (min-width: 768px) {
    .slider-content .home-slider.swiper .swiper-dots {
        width: 50%;
    }
    .slider-content .home-slider.swiper .swiper-dots .swiper-dots-wrap .swiper-pagination {
        margin: -5px 0px 0px -30px;
    }
    .slider-content .home-slider.swiper .swiper-dots .swiper-dots-wrap .swiper-pagination span.swiper-pagination-bullet {
        margin: 5px 0px 0px 30px;
    }
}
@media (min-width: 1800px) {
    .slider-content .home-slider.swiper .swiper-dots .swiper-dots-wrap {
        width: 66.66%;
    }
}
/************************************* home-slider css end *************************************/

/************************************* service-area css start *************************************/
/*====================================
    service-area css
====================================*/
.service-area .service-content .service-icon i {
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.service-area .service-content:hover .service-icon i {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
/************************************* service-area css end *************************************/

/************************************* product-tab css start *************************************/
/*====================================
    product-tab css
====================================*/
.product-tab-area ul.nav-tabs {
    margin-top: -10px;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.product-tab-area ul.nav-tabs>* {
    margin-top: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
@media (min-width: 768px) {
    .product-tab-area ul.nav-tabs {
        margin-left: -15px;
        margin-right: -15px;
    }
    .product-tab-area ul.nav-tabs>* {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1200px) {
    .product-tab-area ul.nav-tabs {
        margin-top: -12px;
    }
    .product-tab-area ul.nav-tabs>* {
        margin-top: 12px;
    }
}

/*====================================
    product-tab title css
====================================*/
.product-tab-area ul.nav-tabs li a {
    color: var(--body-font-color);
    border-bottom: 1px solid transparent;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.product-tab-area ul.nav-tabs li a:hover {
    color: var(--primary-font-color);    
}
.product-tab-area ul.nav-tabs li a.active {
    color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}

/*====================================
    collection-product swiper css
====================================*/
.product-tab-area .collection-wrap .swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 576px) {
    .product-tab-area {
        overflow-x: hidden;
    }
    .product-tab-area .collection-wrap .collection-product-slider {
        margin: 0px calc(-50% - 15px);
    }
    .product-tab-area .collection-wrap .swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
@media (min-width: 768px) {
    .product-tab-area .collection-wrap .collection-product-slider {
        margin: 0px calc(-33.33% - 10px);
    }
    .product-tab-area .collection-wrap .swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .product-tab-area .collection-wrap .collection-product-slider {
        margin: 0px calc(-25% - 7.5px);
    }
    .product-tab-area .collection-wrap .swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 16.66%;
    }
}
/************************************* product-tab css end *************************************/

/************************************* banner-area css start *************************************/
/*====================================
    banner-area css
====================================*/
@media (min-width: 1200px) {
    .banner-area h2.banner-title {
        font-size: 120px;
    }
}
@media (min-width: 1400px) {
    .banner-area h2.banner-title {
        font-size: 160px;
    }
}
/************************************* banner-area css end *************************************/