/************************************* newsletter-modal css start *************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap input {
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }
    .newsletter-modal .newsletter-info .newsletter-content .newsletter-form .news-wrap button {
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    slider-content css
====================================*/
.slider-content .home-slider h2 {
    line-height: 1.12;
}
@media (min-width: 1200px) {
    .slider-content .home-slider span {
        width: 96px;
    }
}
@media (min-width: 1400px) {
    .slider-content .home-slider span {
        width: 104px;
    }
}
@media (min-width: 1600px) {
    .slider-content .home-slider span {
        width: 120px;
        margin-bottom: 9px;
    }
    .slider-content .home-slider h2 {
        font-size: 108px;
    }
    .slider-content .home-slider .slider-subtitle {
        margin-top: 26px;
    }
    .slider-content .home-slider a {
        margin-top: 51px;
    }
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide .slider-image span,
.slider-content .home-slider.swiper .swiper-slide .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide .slider-image .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide .slider-image a {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image span,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image span {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image h2 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image .slider-subtitle {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-image a {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button {
    color: var(--secondary-font-color);
    background-color: var(--extra-font-color);
    border: 1px solid rgba(var(--border-color), var(--border-opacity));
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
.slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button:hover {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
@media (min-width: 1400px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .home-slider.swiper .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-font-color);
    margin: 5px 0px 0px 5px;
    opacity: 0.15;
    border: 1px solid var(--secondary-font-color);
}
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .home-slider.swiper .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-font-color);
    opacity: 1;
    border-color: var(--primary-font-color);
}
@media (min-width: 768px) {
    .slider-content .home-slider.swiper .swiper-dots {
        left: 50%;
        transform: translateX(-50%)
    }
}

/*====================================
    scroll-text css
====================================*/
.slider-content .scroll-text .scroll-text-row {
    -webkit-animation: slide-left 20s linear infinite;
    animation: slide-left 20s linear infinite;
}
.slider-content .scroll-text:hover .scroll-text-row,
.slider-content .scroll-text:focus .scroll-text-row {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}
@media (min-width: 1200px) {
    .slider-content .scroll-text {
        writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
    }
    .slider-content .scroll-text span {
        transform: rotate(-180deg);
    }
    .slider-content .scroll-text .scroll-text-row {
        -webkit-animation: slide-bottom 20s linear infinite;
        animation: slide-bottom 20s linear infinite;
    }
}
/************************************* home-slider css end *************************************/

/************************************* brand-logo css start *************************************/
/*====================================
    brand-logo swiper css
====================================*/
.brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 768px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 992px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}

/*====================================
    brand-content css
====================================*/
@media (min-width: 1200px) {
    .brand-logo .brand-slider .brand-content span.brand-img img {
        -webkit-filter: opacity(0.3) grayscale(1);
        filter: opacity(0.3) grayscale(1);
        -webkit-transition: filter 0.3s ease-in-out;
        transition: filter 0.3s ease-in-out;
    }
    .brand-logo .brand-slider .brand-content:hover span.brand-img img {
        -webkit-filter: opacity(1) grayscale(0);
        filter: opacity(1) grayscale(0);
    }
}
/************************************* brand-logo css end *************************************/

/************************************* banner-area css start *************************************/
/*====================================
    banner-area css
====================================*/
@media (min-width: 1200px) {
    .banner-area .banner-block a.banner-img img {
        object-fit: cover;
        object-position: center;
    }
}
/************************************* banner-area css end *************************************/

/************************************* deal-offer-banner css start *************************************/
/*====================================
    deal-offer css
====================================*/
@media (min-width: 768px) {
    .deal-offer-banner .deal-offer .deal-offer-block span.banner-img img {
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width: 1800px) {
    .deal-offer-banner .deal-offer .deal-offer-subtitle {
        margin-bottom: 14px;
    }
    .deal-offer-banner .deal-offer h2 {
        font-size: 40px;
    }
    .deal-offer-banner .deal-offer .deal-timer {
        margin-top: 20px;
    }
    .deal-offer-banner .deal-offer a {
        margin-top: 60px;
    }
}

/*====================================
    deal-banner css
====================================*/
@media (min-width: 992px) {
    .deal-offer-banner .deal-banner .deal-banner-block a.banner-img img {
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width: 1800px) {
    .deal-offer-banner .deal-banner .deal-banner-content .deal-offer-subtitle {
        margin-bottom: 14px;
    }
    .deal-offer-banner .deal-banner .deal-banner-content h2 {
        font-size: 40px;
    }
    .deal-offer-banner .deal-banner .deal-banner-content a {
        margin-top: 50px;
    }
}
/************************************* deal-offer-banner css end *************************************/

/************************************* testimonial css start *************************************/
/*====================================
    testimonial slider-swiper css
====================================*/
.testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 1400px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
/************************************* testimonial css end *************************************/