/************************************* newsletter-modal css start 
更多下载：https://www.bootstrapmb.com 
*************************************/
/*====================================
    newsletter-modal css
====================================*/
@media (min-width: 768px) {
    .newsletter-modal .modal-dialog {
        max-width: 750px;
    }
}
/************************************* newsletter-modal css end *************************************/

/************************************* service-area css start *************************************/
/*====================================
    service-slider swiper css
====================================*/
.service-area .service-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .service-area .service-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
    .service-area .service-slider.swiper .swiper-slide.swiper-slide-visible {
        border-left: 1px solid rgba(var(--border-color),var(--border-opacity));
    }
    .service-area .service-slider.swiper .swiper-slide.swiper-slide-visible.swiper-slide-active {
        border: none;
    }
}
@media (min-width: 992px) {
    .service-area .service-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
@media (min-width: 1200px) {
    .service-area .service-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}
/************************************* service-area css end *************************************/

/************************************* home-slider css start *************************************/
/*====================================
    home-slider swiper css
====================================*/
.slider-content .home-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}

/*====================================
    slider-content css
====================================*/
.slider-content .home-slider .slider-content-info h2 {
    line-height: 1;
}
@media (min-width: 1600px) {
    .slider-content .home-slider .slider-content-info .slider-subtitle {
        margin-bottom: 36px;
    }
    .slider-content .home-slider .slider-content-info h2 {
        font-size: 96px;
    }
    .slider-content .home-slider .slider-content-info a {
        margin-top: 40px;
    }
}
@media (min-width: 1800px) {
    .slider-content .home-slider .slider-content-info .slider-subtitle {
        margin-bottom: 37px;
    }
    .slider-content .home-slider .slider-content-info h2 {
        font-size: 120px;
    }
    .slider-content .home-slider .slider-content-info a {
        margin-top: 42px;
    }
}

/*====================================
    slider-content transition css
====================================*/
.slider-content .home-slider.swiper .swiper-slide span.slider-content-img1,
.slider-content .home-slider.swiper .swiper-slide span.slider-content-img2,
.slider-content .home-slider.swiper .swiper-slide .slider-content-info .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide .slider-content-info h2,
.slider-content .home-slider.swiper .swiper-slide .slider-content-info a {
    opacity: 0;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active span.slider-content-img1,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active span.slider-content-img2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info a {
    opacity: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active span.slider-content-img1 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active span.slider-content-img2 {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active span.slider-content-img1,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active span.slider-content-img2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info .slider-subtitle,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info h2,
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info .slider-subtitle {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info h2 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.slider-content .home-slider.swiper .swiper-slide.swiper-slide-active .slider-content-info a {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

/*====================================
    slider-navigation css
====================================*/
.slider-content .swiper-buttons .swiper-buttons-wrap button {
    color: var(--body-font-color);
    background-color: transparent;
    border: 1px solid rgba(var(--border-color),var(--border-opacity));
    border-radius: var(--border-radius);
    -webkit-transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out,background-color 0.3s ease-in-out,border-color 0.3s ease-in-out;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
    left: 5px;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
    right: 5px;
}
.slider-content .swiper-buttons .swiper-buttons-wrap button:hover {
    color: var(--extra-font-color);
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
@media (min-width: 1400px) {
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 10px;
    }
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 10px;
    }
}
@media (min-width: 1600px) {
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-prev {
        left: 30px;
    }
    .slider-content .swiper-buttons .swiper-buttons-wrap button.swiper-next {
        right: 30px;
    }
}

/*====================================
    slider-dot css
====================================*/
.slider-content .swiper-dots .swiper-pagination {
    width: unset;
    position: unset;
    margin: -5px 0px 0px -5px;
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-font-color);
    margin: 5px 0px 0px 5px;
    opacity: 1;
    border: 1px solid var(--secondary-font-color);
}
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet:hover,
.slider-content .swiper-dots .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
/************************************* home-slider css end *************************************/

/************************************* category-slider css start *************************************/
/*====================================
    category-slider swiper css
====================================*/
.category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 992px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 1200px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
@media (min-width: 1400px) {
    .category-slider .cat-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}
/************************************* category-slider css end *************************************/

/************************************* scroll-text css start *************************************/
/*====================================
    scroll-text css
====================================*/
.scroll-text .scroll-text-row.scroll-text-left {
    -webkit-animation: slide-left 50s linear infinite;
    animation: slide-left 50s linear infinite;
}
.scroll-text .scroll-text-row.scroll-text-right {
    -webkit-animation: slide-right 50s linear infinite;
    animation: slide-right 50s linear infinite;
}
.scroll-text:hover .scroll-text-row,
.scroll-text:focus .scroll-text-row {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}
/************************************* scroll-text css end *************************************/

/************************************* brand-logo css start *************************************/
/*====================================
    brand-logo swiper css
====================================*/
.brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 480px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 768px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .brand-logo .brand-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 16.66%;
    }
}
/************************************* brand-logo css end *************************************/

/************************************* category-product css start *************************************/
/*====================================
    category-product swiper css
====================================*/
.category-product .collection-wrap #trend-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]),
.category-product .collection-wrap #best-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]),
.category-product .collection-wrap #feature-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 50%;
}
@media (min-width: 768px) {
    .category-product .collection-wrap #trend-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]),
    .category-product .collection-wrap #best-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]),
    .category-product .collection-wrap #feature-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 992px) {
    .category-product .collection-wrap #trend-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]),
    .category-product .collection-wrap #best-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .category-product .collection-wrap #trend-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]),
    .category-product .collection-wrap #best-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
    .category-product .collection-wrap #feature-product-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 20%;
    }
}

/*====================================
    category-product-banner css
====================================*/
.category-product .category-product-banner .category-product-banner-content {
    margin-top: -13px;
}
.category-product .category-product-banner .category-product-banner-content >* {
    margin-top: 13px;
}
@media (min-width: 992px) {
    .category-product .category-product-banner a img {
        object-fit: cover;
        object-position: center;
    }
}
@media (min-width: 1200px) {
    .category-product .category-product-banner .category-product-banner-content {
        margin-top: -20px;
    }
    .category-product .category-product-banner .category-product-banner-content >* {
        margin-top: 20px;
    }
}
/************************************* category-product css end *************************************/

/************************************* newsletter-area css start *************************************/
/*====================================
    newsletter-form css
====================================*/
@media (min-width: 768px) {
    .newsletter-area form.news-form .news-wrap input {
        border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }
    .newsletter-area form.news-form .news-wrap button {
        border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    }
}
/************************************* newsletter-area css end *************************************/

/************************************* big-text css start *************************************/
/*====================================
    big-text css
====================================*/
.big-text .big-text-title h2 {
    font-size: 56px;
    opacity: 0.05;
}
@media (min-width: 400px) {
    .big-text .big-text-title h2 {
        font-size: 64px;
    }
}
@media (min-width: 576px) {
    .big-text .big-text-title h2 {
        font-size: 96px;
    }
}
@media (min-width: 768px) {
    .big-text .big-text-title h2 {
        font-size: 136px;
    }
}
@media (min-width: 992px) {
    .big-text .big-text-title h2 {
        font-size: 168px;
    }
}
@media (min-width: 1200px) {
    .big-text .big-text-title h2 {
        font-size: 200px;
    }
}
@media (min-width: 1400px) {
    .big-text .big-text-title h2 {
        font-size: 240px;
    }
}
@media (min-width: 1600px) {
    .big-text .big-text-title h2 {
        font-size: 248px;
    }
}
/************************************* big-text css end *************************************/

/************************************* testimonial css start *************************************/
/*====================================
    testimonial slider-swiper css
====================================*/
.testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .testimonial .testi-slider.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
/************************************* testimonial css end *************************************/

/************************************* blog-slider css start *************************************/
/*====================================
    blog-slider swiper css
====================================*/
.blog-wrap #blog-slider-full.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
    width: 100%;
}
@media (min-width: 768px) {
    .blog-wrap #blog-slider-full.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .blog-wrap #blog-slider-full.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 33.33%;
    }
}
@media (min-width: 1400px) {
    .blog-wrap #blog-slider-full.swiper:not(.swiper-initialized) .swiper-slide:not([style]) {
        width: 25%;
    }
}
/************************************* blog-slider css end *************************************/
